@import '../../Stules/main';

.footer {
  color: $color-text;
  flex: 0 0 auto;
  &_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 10px 0px 10px;
    padding: 0px 0px 0px 0px;
  }
  &_item {
    list-style-type: none;
  }
}
